$brandColor: #C90286;

$subBrandColor: #EE6BAC;

// $contentsColorMap: (
//     $guide: #4B6640,
//     $company: #4B6683,
//     $reason: #74475B,
//     $contact: #747440,
//     $business: #666,
// );

// $backgroundMap: (
//     $guide: url("../../img/guide-bg.png"),
//     $company: url("../../img/guide-bg.png"),
//     $reason: url
// )

$guideColor: #4B6640;

$companyColor: #4B6683;

$reasonColor: #74475B;

$contactColor: #747440;

$businessColor: #666;

$introColor: #EA6CB0;
