<footer>
    <div class="footer__img"></div>
    <ul class="footer__navigation">
        <li>
            <a href="">ホーム</a>
        </li>
        <li>
            <a href="">登録会に応募</a>
        </li>
        <li>
            <a href="">会社概要</a>
        </li>
        <li>
            <a href="">会社案内</a>
        </li>
        <li>
            <a href="">選ばれる理由</a>
        </li>
        <li>
            <a href="">お問い合わせ</a>
        </li>
    </ul>
    <div class="copyright">
        <p class="copyright__text" >Copyright © 株式会社アイコミ, INC. All rights Reserved.<%= 1 + 2 %></p>
    </div>
    <div class="sp__entry">
        <div class="sp__entry__button">
            <a href="">
                <p class="sp__entry__button__text">登録会に応募</p>
            </a>
        </div>
    </div>
</footer>