<div class="side">
    <div class="company__logo">
        <a href="">
            <img src="../../img/logo.svg" alt="">
        </a>
    </div>
    <div class="side__entry">
        <a href="">
            <p class="side__entry__text">登録会に応募</p>
            <p class="side__entry__explain">登録会で希望に合う<br>お仕事を紹介いたします。</p>
        </a>
    </div>
    <ul class="side__menu">
        <li>
            <a href="">
                <p class="side__menu__title">会社概要</p>
                <p class="side__menu__explain">Company</p>
            </a>
        </li>
        <li>
            <a href="">
                <p class="side__menu__title">会場案内</p>
                <p class="side__menu__explain">Venue Guide</p>
            </a>
        </li>
        <li>
            <a href="">
                <p class="side__menu__title">選ばれる理由</p>
                <p class="side__menu__explain">Reason</p>
            </a>
        </li>
        <li>
            <a href="">
                <p class="side__menu__title">お問い合わせ</p>
                <p class="side__menu__explain">Contact</p>
            </a>
        </li>
    </ul>
    <div class="sp__menu">
        <div class="sp__menu__box">
            <span class="menu__line"></span>
            <span class="menu__line"></span>
            <span class="menu__line"></span>
        </div>
    </div>
</div>