<%
    const path = 'common';
%>

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>アイコミ | Just another WordPress site</title>
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
    <div class="wrapper">
        <div class="page__container">
            <%- include(`${path}/_side`) %>
            <main>
                <section class="contents">
                    <div class="contents__top">
                        <img src="/assets/img/top-photo.png" alt="">
                    </div>
                    <div class="contents__link">
                        <div class="contents__link__container">
                            <div class="entry">
                                <div class="entry__message">PCからカンタン
                                        <span class="entry__message__enhance">60秒</span>
                                        で入力完了！
                                    <p>登録会で希望に合うお仕事を紹介いたします。</p>
                                </div>
                                <button class="entry__button">
                                    <a class="entry__button__style" href="">登録会に応募</a>
                                </button>
                                <p class="entry__another">就職･転職支援サービスをご希望の方はこちらからご応募下さい</p>
                            </div>
                            <div class="guide">
                                <div class="guide__mask"></div>
                                <a href="">
                                    <div class="contents__box">
                                        <img src="/assets/img/guide-logo.png" alt="">
                                        <p class="contents__box__title">会場案内</p>
                                        <p class="contents__box__subtitle">Venue Guide</p>
                                    </div>
                                </a>
                            </div>
                            <div class="company">
                                <div class="company__mask"></div>
                                <a href="">
                                    <div class="contents__box">
                                        <img src="/assets/img/company-logo.png" alt="">
                                        <p class="contents__box__title">会社概要</p>
                                        <p class="contents__box__subtitle">Company</p>
                                    </div>
                                </a>
                            </div>
                            <div class="reason">
                                <div class="reason__mask"></div>
                                <a href="">
                                    <div class="contents__box">
                                        <img src="/assets/img/reason-logo.png" alt="">
                                        <p class="contents__box__title">選ばれる理由</p>
                                        <p class="contents__box__subtitle">Reason</p>
                                    </div>
                                </a>
                            </div>
                            <div class="contact">
                                <div class="contact__mask">
                                    <a href="">
                                        <div class="contents__box">
                                            <img src="/assets/img/contact-logo.png" alt="">
                                            <p class="contents__box__title">お問い合わせ</p>
                                            <p class="contents__box__subtitle">Contact</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="business">
                                <div class="business__mask"></div>
                                <a href="">
                                    <div class="contents__box">
                                        <img src="/assets/img/business-logo.png" alt="">
                                        <p class="contents__box__title">事業内容</p>
                                        <p class="contents__box__subtitle">Business</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="intro">
                    <p class="intro__title">職種のご紹介</p>
                    <ul class="intro__works" >
                        <li>
                            <p class="works__field">量販店</p>
                            <p class="works__text">での就職・転職を目指す方</p>
                            <img src="/assets/img/intro-icon1.png" alt="">
                        </li>
                        <li>
                            <p class="works__field">販売促進</p>
                            <p class="works__text">での就職・転職を目指す方</p>
                            <img src="/assets/img/intro-icon2.png" alt="">
                        </li>
                        <li>
                            <p class="works__field">コールセンター</p>
                            <p class="works__text">での就職・転職を目指す方</p>
                            <img src="/assets/img/intro-icon3.png" alt="">
                        </li>
                        <li>
                            <p class="works__field">コンパニオン</p>
                            <p class="works__text">での就職・転職を目指す方</p>
                            <img src="/assets/img/intro-icon4.png" alt="">
                        </li>
                    </ul>
                </section>
                <section class="news">
                    <p class="news__title" >お知らせ</p>
                    <div class="news__detail">
                        <p>2016.5.5
                            <span class="news__detail__margin">ホーム</span>
                        </p>
                    </div>
                </section>
            </main>
        </div>
    </div>
    <%- include(`${path}/_footer`) %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/assets/js/script.js"></script>
</body>
</html>
