<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>アイコミ | Just another WordPress site</title>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../dist/css/app.css">
</head>
<body>
    <div class="wrapper">
        <div class="page__container">
            <%- include('../common/_side') %>
            <main>
                    <div class="guide__img">
                            <img src="../../img/guide-img/guide-top.png" alt="">
                    </div>
                    <table>
                        <tr>
                            <td>所在地</td>
                            <td>東京メトロ丸の内線 新宿三丁目駅徒歩0分
                                    都営新宿線 新宿三丁目駅徒歩0分
                                    山手線 新宿駅 徒歩3分</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
            </main>
        </div>
    </div>
    <%- include('../common/_footer') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>